@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

.button-main{
    background-color: #001727;
    padding: 14px 32px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}