*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
 }
 .services .container{
    margin: auto;
    width: 100vw;
    height: fit-content;
 }

 .services .container .text, .services .container .image{
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    row-gap: 15px;
    align-items: flex-start;
}
.services .container .text ul{
    list-style-type: none;
    padding-left: 4px;
}
.services .container li:before { content: " - " };

.services .text .col-lg-6 p{
 text-align: left !important;
 width: 99%;
}
.services .container .image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .container .image img{
 object-fit: cover !important;
 width: 99%;
}
.services .container h2{
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left !important;
}
.services .container p{
    text-align: left !important;
}
@media (min-width:990px) {
    .services .list{
        display: flex;
        justify-content:space-evenly ;
        padding-left: 5px;
    }
    
}
@media (max-width:990px) {
    .services img{
        width: 100vw !important;
    };
    
}